html {
  min-height: 100vh;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

* {
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden;
  max-width: 100%;
  /* color: #8cb670 */
}

@font-face {
  font-family: 'mom-cake-bold';
  src: url('./assets/MomcakeBold-WyonA.otf') format('opentype');
}

@font-face {
  font-family: 'mom-cake-thin';
  src: url('./assets/MomcakeThin-9Y6aZ.otf') format('opentype');
}

@font-face {
  font-family: 'sofia-pro-regular';
  src: url(./assets/Sofia-Pro-Regular.woff) format('woff');
}

body {
  background-color: #fdf8f5;
  /* background-color: #1f2849; */
  width: 100%;
}

.active-style {
  /* color: #303c6c; */
  color: white;
  font-family: 'mom-cake-bold';
}

.track-style {
  color: #f4976c;
  font-family: 'mom-cake-thin';
}

.login-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #303c6c;
}

.login-container .active-style {
  color: white;
}

.login-container .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container h1 {
  width: 100%;
  text-align: center;
  font-size: 4em;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container p {
  text-align: center;
  font-size: 1.3em;
  margin-top: 20px;
  color: white;
}

.login-container a {
  color: #f4976c;
  cursor: pointer;
  text-decoration: none;
}

.login-container a:hover {
  color: #f7c1a8;
}

.login-container form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-container input {
  width: 350px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  border: none;
}

.login-container button {
  width: 350px;
  height: 50px;
  background-color: #f4976c;
  border: transparent;
  border-radius: 7px;
  margin-top: 10px;
  color: white;
  font-size: 1.25em;
}

.login-container button:hover {
  background-color: #f7c1a8;
  cursor: pointer;
  border: none;
}

.login-error-response {
  color: #f4976c;
  margin-top: 15px;
  text-align: center;
  height: 15px;
}

.signup-error-response {
  color: #f4976c;
  margin-top: -10px;
  text-align: center;
  height: 15px;
}

#footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #303c6c;
  color: white;
  padding: 30px;
}

#footer-container h6 {
  color: white;
  font-size: 1.1em;
  font-family: 'mom-cake-thin';
}

#footer-container a {
  color: white;
  font-family: 'sofia-pro-regular';
  font-size: 0.8em;
  padding-bottom: 5px;
}

#grid-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90px;
}

#icon-category {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#icon-category svg {
  margin-right: 2px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #1f2849;
  width: 100%;
  height: 75px;
}

.header-link {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.nav h1 {
  font-size: 2em;
  color: #b4dfe5;
}

.logout-container {
  width: 100px;
  height: 40px;
  background-color: #f4976c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logout-container:hover {
  background-color: #f7c1a8;
  border: none;
}

.nav-link {
  color: white;
  font-size: 1.25em;
  text-decoration: none;
  font-size: 1.1em;
  width: 145px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f4976c;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'mom-cake-thin';
}

.nav-link:hover {
  background-color: #f7c1a8;
  color: white;
  border: none;
}

.logout-link {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  width: 75px;
  text-align: center;
  font-family: 'mom-cake-thin';
}

/* ///////// LANDING PAGE LEADERBOARD - DESKTOP ///////// */

.user-home-container {
  width: 90%;
  min-height: 100vh;
  position: relative;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.user-home-container .row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  height: 100%;
}

/* ///////// LANDING PAGE LEADERBOARD - DESKTOP ///////// */

.leaderboard {
  width: 40%;
  margin-left: 2.5%;
  background-color: white;
  padding-right: 2.5%;
  padding-bottom: 20px;
  height: 500px;
}

.leaderboard .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
}

.leaderboard h1 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-align: left;
  color: #a0a0a0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 0.9em;
  margin-left: 15%;
}

/* ///////// LANDING PAGE PERFORMANCE CHART - DESKTOP ///////// */

.perf-chart-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  margin-left: 1%;
  height: 100%;
}

#simple-tab-0 {
  width: 200px;
  font-size: 0.8em;
}

#simple-tab-1 {
  font-size: 0.8em;
}

#simple-tab-2 {
  font-size: 0.8em;
}

.chart-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 8%;
}

.chart-header h1 {
  font-family: 'mom-cake-bold';
  font-size: 2em;
  width: 300px;
  color: #f7c1a8;
}

.chart-header h2 {
  margin-top: 5px;
  font-size: 0.9em;
  width: 100%;
  color: #4f4846;
  letter-spacing: 1px;
}

.chart-container {
  width: 90%;
}

.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

#chart-1 {
  padding-left: 5%;
}

/* ///////// ADD ACTIVITY FORM - DESKTOP ///////// */
.add-activity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 85px;
  padding-right: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 5pxrgb (34, 24, 24);
  animation: 'fadeIn ease 20s';
}

.add-new-activity-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.date-input-container {
  width: 225px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 1em;
}

.input-container {
  width: 85px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.add-activity-container .button-container {
  width: 175px;
  padding: 5px;
}

.MuiButton-label {
  font-family: 'sofia-pro-regular';
  font-size: 0.8em;
}

.add-new-activity-form-container .input-container form {
  width: 150px;
  height: 75px;
}

/* ///////// ACTIVIY LOG TABLE - DESKTOP ///////// */

.activity-history-page-container {
  margin-top: 30px;
}

.table-container {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 100px;
}

.table-container .distance-column {
  width: 140px;
}

tr {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.MuiTableCell-root {
  width: 100px;
}

.MultiTableCell-head {
  height: 40px;
  text-align: left;
  border: transparent;
  margin: 0px;
  margin-right: 20px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

th {
  height: 40px;
  text-align: left;
  border: transparent;
  margin: 0px;
  margin-right: 20px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

td {
  height: 40px;
  text-align: left;
  border: transparent;
  margin: 0px;
  margin-right: 20px;
  padding: 0px;
}

table .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

table .date-header {
  width: 53px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

table .distance-header {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

table .date-column-header {
  width: 10%;
  height: 40px;
}

table .distance-column-header {
  width: 70%;
  height: 40px;
}

table .action-column-header {
  width: 3%;
}

.header-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.date-time-container .header {
  font-size: 1.3em;
  font-family: 'mom-cake-bold';
  height: 10px;
}

.date-time-container .header-detail {
  font-size: 0.9em;
  font-weight: thin;
  height: 10px;
  font-family: 'sofia-pro-regular';
}

.column-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.date-time-container .column-value {
  font-size: 1em;
  font-family: 'sofia-pro-regular';
}

.date-time-container .column-detail {
  font-size: 0.9em;
  font-weight: thin;
  font-family: 'sofia-pro-regular';
}

.dropdown-menu-container {
  width: 50px;
  margin: 0px;
  display: flex;
  justify-content: column;
  align-items: flex-end;
  z-index: 1500;
}

.MuiButton-text {
  width: 30px;
}

/* ///////// IPHONE ///////// */
@media only screen and (max-width: 425px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .login-container {
    background-color: #303c6c;
    font-family: 'mom-cake-thin';
  }

  .login-container .active-style {
    color: white;
  }

  .login-container h1 {
    font-size: 3em;
  }

  .login-container p {
    font-size: 1.1em;
    color: white;
  }

  .login-container a {
    font-size: 1.1em;
  }

  .login-container form div {
    height: 50px;
    margin-bottom: 10px;
  }

  .login-container input {
    width: 300px;
    padding: 10px;
  }

  .login-container .button-container {
    height: 60px;
  }

  .login-container button {
    width: 300px;
    font-family: 'mom-cake-thin';
  }

  .login-error-response {
    color: #f4976c;
    margin-top: 0px;
    text-align: center;
    height: 10px;
  }

  .signup-error-response {
    color: #f4976c;
    margin-top: -60px;
    text-align: center;
    height: 10px;
  }

  .nav {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
  }

  .nav h1 {
    display: flex;
    flex-direction: row;
  }

  .nav .active-style {
    font-size: 0.5em;
    /* width: 105px; */
  }

  .nav .track-style {
    font-size: 0.5em;
  }

  .header-link {
    width: 100%;
  }

  .left-nav {
    width: 100%;
  }

  .logout-container {
    width: 100px;
    height: 30px;
    font-size: 0.75em;
  }

  .nav-link {
    width: 120px;
    height: 30px;
    font-size: 0.75em;
  }

  .logout-link {
    font-size: 1em;
    width: 75px;
  }

  .stat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    margin-top: 15px;
  }

  .stat-container h2 {
    margin-bottom: 10px;
    font-size: 0.9em;
    text-align: center;
    width: 125px;
  }

  .stat-container h1 {
    font-size: 2em;
    text-align: center;
    width: 125px;
  }

  .hero-mile-count {
    width: 100%;
  }

  .perf-chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  #chart-1 {
    width: 300px;
    padding: 0px;
  }

  .leaderboard {
    width: 300px;
    margin-top: 40px;
  }

  .leaderboard h1 {
    font-family: 'mom-cake-bold';
    text-align: center;
  }

  .add-activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    margin-top: 30px;
    height: 220px;
    border: 1px solid #e4e4e4;
    border-radius: 5pxrgb (34, 24, 24);
    animation: 'fadeIn ease 20s';
  }

  .add-new-activity-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0px;
  }

  .date-input-container {
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 1em;
  }

  .date-input-container div {
    width: 100%;
  }

  .input-container {
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 1em;
    margin-bottom: 20px;
  }

  .input-container div {
    width: 100%;
    margin: 0px;
  }

  .input-container #distance-input {
    width: 100%;
  }

  .add-activity-container .button-container {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .MuiButton-label {
    font-family: 'sofia-pro-regular';
    font-size: 0.8em;
    width: 100%;
  }

  .MuiFormControl-root .MuiTextField-root {
    width: 100%;
  }

  #delete-activity-button {
    width: 90%;
    margin-left: 5%;
    height: 40px;
  }
}

/* ///////// IPAD ///////// */

@media only screen and (min-device-width: 768px) and (max-width: 900px) {
  .nav-link {
    width: 170px;
  }

  .logout-container {
    width: 120px;
  }

  .perf-chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
  }

  #chart-1 {
    padding-left: 75px;
  }

  .totals {
    width: 300px;
    margin-top: 100px;
  }

  .totals h1 {
    font-family: 'mom-cake-bold';
    text-align: center;
  }
}
